#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--branco);

  & .interface {
    justify-content: space-between;

    & .conteudo {
      display: flex;
      align-items: left;
      flex-direction: column;
      gap: 3rem;
      width: 50%;

      & h1 {
        font-size: 7rem;
        color: var(--azul-base);
      }

      & p {
        font-size: 2rem;
        color: var(--cinza-texto-base);
        width: 80%;
      }

      & nav {
        display: flex;
        gap: 3rem;
      }
    }

    & .imagem {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: right;

      & img {
        border-radius: 1rem;
      }
    }
  }
}

#acesso-rapido {
  width: 100%;
  background-color: var(--cinza-claro);

  & .interface {
    flex-direction: column;
    padding: 3% 0;

    & h2 {
      font-size: 3rem;
      color: var(--azul-base);
      margin-bottom: 2rem;
    }

    & .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & a {
        width: 32%;
        background-color: var(--branco);
        text-decoration: none;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .icone {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          background-color: var(--vermelho-base);
          color: var(--branco);
          font-size: 2.5rem;
        }

        & .titulo {
          font-size: 2rem;
          font-weight: bold;
          color: var(--azul-base);
        }

        & .descricao {
          font-size: 1.7rem;
          color: var(--cinza-texto-base);
        }

        & .link {
          font-size: 1.7rem;
          color: var(--azul-base);

          & span {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

#historia {
  width: 100%;
  background-color: var(--branco);

  & .interface {
    flex-direction: column;
    padding: 3% 0;

    & .conteudo {
      width: 100%;
      display: flex;

      & .informacoes {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & h3 {
          font-size: 3rem;
          color: var(--azul-base);
        }

        & p {
          font-size: 1.7rem;
          color: var(--cinza-texto-base);
        }

        & .container {
          & .icone {}

          & .titulo {}

          & .descricao {}


        }
      }

      & .imagem {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: right;

        & img {
          width: 95%;
          height: 80%;
          border-radius: 1rem;
        }
      }
    }


  }
}



#cursos {
  width: 100%;
  background-color: var(--cinza-claro);

  & .interface {
    flex-direction: column;
    padding: 3% 0;

    & .link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h2 {
        font-size: 3rem;
        color: var(--azul-base);
        margin-bottom: 2rem;
      }
    }

    & .container {
      width: 100%;
    }
  }
}

#contato {
  & .interface {
    flex-direction: column;
    gap: 3rem;

    & h2 {
      font-size: 3.5rem;
      color: var(--azul-base);
    }

    & p {
      font-size: 2rem;
      color: var(--cinza-texto-base);
    }

    & nav {
      display: flex;
      gap: 2rem;
    }
  }
}