/* geral */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* outline: 2px solid red; */
}

html {
    font-size: 62.5%;
}

.interface {
    margin: 0 auto;
    padding: 1% 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* variaveis */
:root {
    /* cores principais */
    --vermelho-base: #B20000;
    --vermelho-escuro: #7E0000;
    --azul-base: #005C6D;
    --primario-titulos-hover: #004854;
    --secundario-hover: #00D8E8;
    --azul-destaque-base: #00C1CF;

    /* cores auxiliares */
    --verde-base: #A0C340;
    --blueberry-base: #4C7EFF;
    --crayola-base: #FFC24C;
    --violeta-base: #8A29E6;
    --coral-base: #FF4C4D;
    --pink-base: #FF4CA2;

    /* cores neutras */
    --cinza-texto-base: #666666;
    --cinza-claro: #DADADA;
    --cinza-hover: #E6E6E6;
    --prata-base: #F8F8F8;
    --branco: #FFFFFF;

    /* cores de feedback */
    --cancelado: #D32719;
    --andamento: #B78718;
    --concluido: #3ACF1F;
    --cancelado-outline: #F95B4D;
    --andamento-outline: #DFB77B;
    --concluido-outline: #80E96D;
    --cancelado-light: #FDD5D1;
    --andamento-light: #FFF5EA;
    --concluido-light: #E8FBE4;
}

/* header */
header {
    height: 10em;
    background-color: var(--vermelho-base);

    & .interface {
        justify-content: space-between;
        color: var(--branco);
    }

    & .logo {
        width: 14rem;

        & img {
            width: 100%;
        }
    }

    & .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;

        & nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2em;

            & h1 {
                font-weight: bold;
            }

            & a {
                color: var(--branco);
                text-decoration: none;
                font-size: 1.8rem;
                font-weight: 400;
                transition: .3s ease all;

                &:hover {
                    color: var(--cinza-claro);
                }
            }

            & button {
                background-color: transparent;
                border: none;
                color: var(--branco);
                font-size: 1.8rem;
                cursor: pointer;
                transition: .3s ease all;

                &:hover {
                    color: var(--cinza-claro);
                }
            }
        }

        & button {
            background-color: transparent;
            border: none;
            color: var(--branco);
            font-size: 1.8rem;
            cursor: pointer;
        }
    }
}